.btn-transparent {
	display: inline-block;
	padding: 0 30px;
	margin: 0 auto;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	font-weight: 800;
	color: #fff;
	border-radius: 20px;
	border: 1px solid $orange;
	text-decoration: none;
	transition: box-shadow 0.5s;
	text-transform: uppercase;
	&:hover {
		cursor: pointer;
		-webkit-box-shadow: 0 0 20px rgba($orange, 0.8);
		box-shadow: 0 0 20px rgba($orange, 0.8);
	}
}

.btn-orange {
	display: inline-block;
	border: none;
	position: relative;
	padding: 0 45px;
	height: 50px;
	line-height: 50px;
	box-shadow: 0 0 50px rgba(243, 102, 34, 0.2);
	border-radius: 25px;
	background-color: #f36622;
	background-image: linear-gradient(to left, rgba(253, 205, 7, 0.44) 0%, rgba(245, 133, 32, 0.44) 50%, rgba(235, 38, 52, 0.44) 100%);
	text-decoration: none;
	outline: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	transition: all 0.5s;
	text-align: center;
	cursor: pointer;
	@media all and ($xl) {
		padding: 0 65px;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		bottom: -10px;
		left: -10px;
		right: -10px;
		border-radius: 35px;
		border: 1px solid rgba(255,255,255,0.1);
		transition: all 0.5s;
	}
	&:hover {
		box-shadow: 0 0 50px rgba(243, 102, 34, 0.4);
		&:after {
			border: 1px solid rgba(255,255,255,0.2);
		}
	}
}
.btn-orange2 {
	display: inline-block;
	position: relative;
	padding: 0 15px;
	height: 50px;
	line-height: 50px;
	box-shadow: 0 0 50px rgba(243, 102, 34, 0.2);
	border-radius: 25px;
	background-color: #f36622;
	background-image: linear-gradient(to left, rgba(253, 205, 7, 0.44) 0%, rgba(245, 133, 32, 0.44) 50%, rgba(235, 38, 52, 0.44) 100%);
	text-decoration: none;
	outline: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	transition: all 0.5s;
	&:hover {
		box-shadow: 0 0 50px rgba(243, 102, 34, 0.4);
	}
}
.btn-orange3 {
	@extend .btn-orange;
	&:after {
		border-color: rgba(153,153,153,0.5);
	}
	&:hover {
		&:after {
			border: 1px solid rgba(153,153,153,0.7);
		}
	}
}