.footer {
	display: block;
	padding: 0 0 30px;
	background: #231f20;
	color: #dbdbdb;
	.row {
		align-content: space-between;
        align-items: center;
        align-content: center;
	}
	a {
		color: #dbdbdb;
	}
	p {
		padding: 0;
		margin: 0 0 5px;
		color: #dbdbdb;
		font-family: Circe;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
		text-align: center;
	}

    @media all and ($desctop) {
		padding-top: 30px;

		p {
			text-align: left;
		}
    }
}
	.footer_col {
		flex: 0 1 368px;
		margin: 0 auto;

		@media all and (max-width: $mobile-max) {
			padding: 15px 0;
            &:nth-child(2), &:nth-child(3) {
				border-bottom: 1px solid rgba(255,255,255,0.1);
			}
        }

	    @media all and ($desctop) {
			&:nth-child(3) {
				flex: 0 1 194px;
				margin: 0
			}
	    }
	}

	.footer__dev {
		display: inline-block;

		img {
			transition: background-color .1s;
			border-radius: 4px;
		}

		&:hover img {
			background-color: #444;
		}
	}

	.footer__logo {
		img {
            width: 250px;
            margin-bottom: -54px;

            @media all and ($desctop) {
				width: 161px;
				margin-bottom: -14px;
            }
		}
	}

	.footer_mobile-show {
        @media all and ($desctop) {
			display: none;
        }
	}