.header-top {
	display: block;
	width: 100%;
	// min-height: 100vh;
	overflow: hidden;

	.btn-orange {
		width: 100%;

        @media all and ($desctop) {
			margin-right: 30px;
			padding: 0 60px;
			width: auto;
        }
	}
}

.header-zimbitsky {
	background: #262020 url(../img/header/header_mob.png) 100% 100% no-repeat;
	background-size: cover;

    @media all and ($desctop) {
		background: #262020 url(../img/header/zimb.png) 50% 50% no-repeat;
    }
}
.header-lion {
	background: url(../img/header/lion.png) 50% 50% no-repeat;
	background-size: cover;
}
.header-speakers {
	background: url(../img/header/speakers.png) 50% 50% no-repeat;
	background-size: cover;
}
.header-form {
	background: url(../img/header/form.png) 50% 50% no-repeat;
	background-size: cover;
}

	.header__title {
		margin: 60px auto 0px 0;
		width: calc(100% + 15px);
		height: 109vw;
		position: relative;
		padding-left: 0;
		background: url(../img/header/title_mob.png) 0 0/125% auto no-repeat;
		text-indent: 100%;
		line-height: 0;
		// overflow: hidden;

		// @media all and (min-width: 590px) {
		// }
		@media all and ($pad) {
			width: calc(100% + 30px);

		}
		@media all and ($desctop) {
			width: 540px;
			height: 351px;
			// height: 170px;
			margin-top: 115px;
			background: url(../img/header/title.png) 50% 50%/contain no-repeat;
		}
		@media all and ($xl) {
			margin: 135px auto 0px 0;
			width: 674px;
			height: 438px;
		}

		.header__crystal-1 {
		    position: absolute;
		    top: 8vw;
		    left: 69vw;
		    width: 50px;
		    height: 70px;
		    background: url("../img/crystal/1.png") 50% 50% no-repeat;
		    background-size: contain;
		    transition: all 2.8s;

		    @media all and ($desctop) {
		    	left: 222px;
		    	top: 10px;
		    }
		  }
		  .header__crystal-2 {
		    position: absolute;
		    bottom: 42px;
		    left: 282px;
		    width: 76px;
		    height: 92px;
		    background: url("../img/crystal/2.png") 50% 50% no-repeat;
		    background-size: contain;
		    transform: rotate(-66deg);
		    transition: all 3.4s;
		  }
		  .header__crystal-3 {
		    position: absolute;
		    top: 64px;
		    left: 98px;
		    width: 44px;
		    transform: rotate(-75deg);
		    -moz-filter:blur(1px);
		    -webkit-filter:blur(1px);
		    -o-filter:blur(1px);
		    -ms-filter:blur(1px);
		    filter:blur(1px);
		    height: 54px;
		    background: url(../img/crystal/1.png) 50% 50% no-repeat;
		    background-size: contain;
		    transition: all 6s ease-out;
		  }
		  .header__crystal-4 {
		    position: absolute;
		    bottom: 30vw;
		    right: 84px;
		    width: 40px;
		    height: 45px;
		    transform: rotate(164deg);
		    background: url("../img/crystal/1.png") 50% 50% no-repeat;
		    background-size: contain;
		    transition: all 2.5s;

		    @media all and ($desctop) {
		    	bottom: 66px;
		    	left: 174px;
		    	right: auto;
		    }
		  }
		  @media all and ($desctop) {
			  &.animated {
			    .header__crystal-1 {
			      left: 440px;
			      top: -130px;
			      transfrom: rotate(-40deg);
			    }
			    .header__crystal-2 {
				    bottom: -100px;
				    left: 352px;
			      	transfrom: rotate(-40deg);
			    }
			    .header__crystal-3 {
				    top: 4px;
				    left: 11px;
			    	transform: rotate(230deg);
			    }
			    .header__crystal-4 {
				    bottom: -245px;
				    left: 74px;
			    	transform: rotate(89deg);

					@media all and ($desctop) {
				    	bottom: -45px;
					}
			    }
			  }
			}
	}
		.header__title__date {
			position: absolute;
			display: block;
			bottom: 20px;
			left: 0;
			color: $orange;
			font-size: 22px;
			font-weight: 400;
			line-height: 22px;
			text-indent: 0;
			@media all and ($desctop) {
				top: 194px;
				right: 70px;
				left: auto;
				bottom: auto;
			}
			@media all and ($xl) {
				top: 242px;
				right: 88px;
				font-size: 28px;
				line-height: 28px;
			}
		}
		.header__title__place {
			position: absolute;
			display: block;
			bottom: 20px;
			right: 15px;
			color: #fff;
			font-size: 22px;
			font-weight: 400;
			line-height: 22px;
			text-indent: 0;
			@media all and ($desctop) {
				top: 194px;
				bottom: auto;
				right: 10px;
			}
			@media all and ($xl) {
				top: 242px;
				font-size: 28px;
				line-height: 28px;
			}
		}
	.header__intro {
		position: relative;
		z-index: 1;
		margin: 0 0 60px;
		padding: 0;
		color: #ddd;
		font-size: 18px;
		line-height: 1.4;
		font-weight: 300;
		// @media all and (min-width: 580px) {
		// }
        @media all and ($desctop) {
			width: 540px;
			margin-top: -65px;
			font-size: 22px;
			margin-right: auto;
			color: $text;
        }
		@media all and ($xl) {
			width: 670px;
			margin: -75px auto 80px 0;
			font-size: 30px;
		}
	}

	.header-row {
		margin-right: auto;
		margin-left: 0;
		padding-bottom: 60px;
		position: relative;
        @media all and (max-width: $mobile-max) {
            padding-top: 60px;
        }
        @media all and ($desctop) {
			width: 540px;
			padding-bottom: 150px;
        }
		@media all and ($xl) {
			width: 668px;
			padding-bottom: 190px;
		}
	}
		.header__digits {
			margin: auto;
			padding: 0;
			color: $text;
			font-size: 18px;
			line-height: 16px;
			font-weight: 300;
            @media all and (max-width: $mobile-max) {
                position: absolute;
                top: -33px;
                left: 0;

                &:last-child {
                	left: 92px;
                }
            }
	        @media all and ($desctop) {
				font-size: 22px;
				line-height: 22px;
	        }
			@media all and ($xl) {
				font-size: 30px;
				line-height: 30px;
			}
			b {
				display: block;
				color: $orange;
				font-size: 32px;
				line-height: 33px;
				font-weight: 800;
		        @media all and ($desctop) {
					font-size: 38px;
		        }
				@media all and ($xl) {
					font-size: 45px;
				}
			}
		}

		.header__title__mobtitle {
			color: #fff;
			position: absolute;
			top: 101vw;
			left: 15px;
			font-size: 20vw;
			display: block;
			font-weight: 600;

	        @media all and ($desctop) {
				display: none;
	        }
		}