@font-face {
  font-family: '10x';
  src: url('../fonts/10x.eot?10512697');
  src: url('../fonts/10x.eot?10512697#iefix') format('embedded-opentype'),
       url('../fonts/10x.woff2?10512697') format('woff2'),
       url('../fonts/10x.woff?10512697') format('woff'),
       url('../fonts/10x.ttf?10512697') format('truetype'),
       url('../fonts/10x.svg?10512697#10x') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '10x';
    src: url('../font/10x.svg?10512697#10x') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "10x";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
//  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before { content: '\e800'; } /* '' */ 
.icon-chat_fb:before { content: '\e801'; } /* '' */
.icon-chat_telega:before { content: '\e802'; } /* '' */
.icon-chat_vk:before { content: '\e803'; } /* '' */
.icon-chat_w:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-fb:before { content: '\e806'; } /* '' */
.icon-fb_r:before { content: '\e807'; } /* '' */
.icon-f_env:before { content: '\e808'; } /* '' */
.icon-insta_r:before { content: '\e809'; } /* '' */
.icon-map:before { content: '\e80a'; } /* '' */
.icon-price:before { content: '\e80b'; } /* '' */
.icon-question:before { content: '\e80c'; } /* '' */
.icon-s2_i:before { content: '\e80d'; } /* '' */
.icon-s3_shield:before { content: '\e80e'; } /* '' */
.icon-telega_r:before { content: '\e80f'; } /* '' */
.icon-vk:before { content: '\e810'; } /* '' */
.icon-vk_r:before { content: '\e811'; } /* '' */
.icon-youtube_r:before { content: '\e812'; } /* '' */