.next-event {
	@extend .section2;
	background: url("../img/next-event/fon.png") 50% 50% no-repeat;
	background-size: cover;
    position: relative;
    .section2__title {
        color: #fff;
    }
    .section2__intro {
        color: #969495;
        font-size: 18px;

        @media all and (min-width: 900px) {
            width: 850px;
        }

        @media all and ($desctop) {
            font-size: 28px;
        }
    }
    .section2__list__item {
        @media all and ($desctop) {
            padding-bottom: 5px;
            height: 175px;

            p {
                font-size: 19px;
                line-height: 1.4;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
    .section2__list__item-1, .section2__list__item-2 {
        p {
            padding: 0px 35px 55px;

            @media all and ($desctop) {
                padding: 0 20px 30px;
            }
        }
    }
    .section2__special {
        @media all and ($desctop) {
            display: inline-block;
            text-indent: 2em;
        }
    }
    .section2__end {
        margin-bottom: -26px;

        .text {
            color: #3A3736;
            @media all and ($desctop) {
                padding: 50px 20px;
                font-size: 28px;
            }
        }
        b {
            color: $orange;
            font-weight: 400;
        }
    }
    .section2__fon {
        top: 325px;
        @media all and ($xl) {
            top: 345px;
        }
    }
    .btn-orange {
        z-index: 1;
    }
}

