.topnav {
	display: block;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-clip: padding-box;
	border-bottom: 1px solid #2E2A2B;
	transition: background .3s;
	&.fixed {
		background-color: rgba(0,0,0,0.8);
	}
	@media all and ($xl) {
		padding: 20px 0;
	}

	.container.row {
        @media all and (max-width: $mobile-max) {
            display: block;
            text-align: center;
        }
        @media all and ($desctop) {
			font-size: 22px;
        }
	}
}
@media all and (max-width: $mobile-max) {
    .menu-open {
		.topnav {
			background-color: #241F20;
		}
    	.modal__fon {
    		display: block;
    		z-index: 900;
    	}
    	.topnav__menu-cover {
			display: block;
			position: absolute;
			top: 66px;
			left: 0;
			max-height: calc(100vh - 66px);
			overflow: auto;

			.topnav__menu {
				text-align: left;
				display: block;
				margin: 0;
				height: 80px;
				line-height: 80px;
				width: 246px;
				padding-left: 34px;
				background: #231F20;

				&:active, &:hover {
					color: white;
				}

				&:not(:last-child) {
					border-bottom: 1px solid #2E2A2B;
				}
			}
		}
		.menu-icon__line {
			&:first-child {
				transform: rotate(45deg);
				margin-top: 20px;
			}
			&:last-child {
				display: none;
			}
			&:nth-child(2) {
				transform: rotate(-45deg);
				margin-top: -2px;
			}
		}
	}

	.phone-open {
		.topnav {
			background-color: #241F20;
		}
    	.modal__fon {
    		display: block;
    		z-index: 900;
    	}
		.topnav__phones {
			display: block;
			position: absolute;
			top: 66px;
			right: 0;
			background-color: #241F20;
			margin: 0;
			padding: 15px;
		}
	}
}
	.topnav__menu-cover {
		display: none;

        @media all and ($desctop) {
			width: calc(100% - 400px);
		  display: flex;
		  display: -webkit-flex;
		  flex-wrap: nowrap;
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: stretch;
		  align-content: center;
    	}
	}
	.topnav__logo {
		display: inline-block;
		width: 152px;
		height: 46px;
		vertical-align: top;
		margin: auto;
		background: url(../img/header/logo.png) 50% 50% no-repeat;
		overflow: hidden;
		text-indent: 100%;
		line-height: 0;

        @media all and ($desctop) {
			height: 37px;
        }
	}
	.topnav__menu {
		margin: auto;
		color: $text;
		display: inline-block;
		text-decoration: none;
		outline: none;
		text-align: center;
		font-size: 14px;
		transition: color 0.5s;
		&:hover {
			color: white;
		}
	}

	.topnav__reg-link {
		margin: auto;
		display: none;

        @media all and ($desctop) {
			display: inline-block;
        }
	}

	.topnav__time {
		margin: auto;
		display: inline-block;
		height: 23px;
		i {
			font-size: 23px;
			color: $orange;
		}

        @media all and (max-width: $mobile-max) {
            display: none;
        }
	}

	.topnav__phones {
		margin: auto;
		display: inline-block;
		p {
			margin: 0;
			padding: 0;
			color: #fff;
			font-size: 18px;
			height: 24px;
			line-height: 24px;

	        @media all and ($desctop) {
	        	padding-left: 30px;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
	        }
		}

		.btn-transparent {
			margin-top: 10px;
		}

        @media all and (max-width: $mobile-max) {
            display: none;
        }
	}
		.phones-ru {
			background: url(../img/top-nav/ru.png) 0 50% no-repeat;
		}
		.phones-ua {
			background: url(../img/top-nav/ua.png) 0 50% no-repeat;
		}

.menu-icon, .phone-icon {
	border: 1px solid $orange;
	height: 42px;
	width: 42px;
	border-radius: 22px;

    @media all and ($desctop) {
        display: none;
    }

}

.menu-icon {
	float: left;
}

.phone-icon {
	float: right;
	background: url(../img/top-nav/phone.png) 50% 50%/16px auto no-repeat;
}

.menu-icon__line {
	height: 2px;
	background-color: white;
	margin: 5px 8px 0;
	transition: transform .2s, margin .2s;

	&:first-child {
		margin-top: 13px;
	}
}

.phone-header__tooltip {
	.tooltip__text-bottom {
	    margin-top: 60px;
	    left: auto;
	    right: 0;

	    &:after {
	    	left: 72%;
	    }

	    .btn-orange2 {
	        transition: none;
	        border: none;
	        margin-top: 0;
	        width: 100%;
	    }

	    .big-input {
	        margin-top: 10px
	    }
	}

    @media all and ($desctop) {
        display: none;
    }
}