$mobile:	'max-width: 767px';
$pad:       'min-width: 768px';
$desctop:	'min-width: 990px';
$xl:		'min-width: 1400px';

$desktop-min: 990px;
$mobile-max: 989px;
$xl-min: 1400px;

$text: #b7b3b4;
$text-dark: #666;
$header: #333;
$orange: #f36622;